<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morning routine</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.11/dist/vue.js"></script>
</head>
<body>
    <div id="app" class="container">
        <div class="title">Morning Routine</div>
        <div class="date mb-30">{{ dateNow }}</div>
        <div class="items">
            <ul class="list__number">
                <li class="list__items mb-30" v-for="(item, index) in items" :key="index">
                    {{ item.task }}
                    <div class="underline"></div>
                    <button class="button ms-50" type="button" v-on:click="clickedButton(index)" v-bind:class="{ clicked : item.status }">{{ item.status ? 'Done!' : 'Not yet' }}</button>
                </li>
            </ul>
        </div>
        <div class="all__done fade" v-if="allStatusTrue">Good job!</div>
        <div class="all__done fade" v-if="almostStatusTrue">Almost!</div>
    </div>

    <script>
        new Vue({
            el:"#app",
            data: {
                today: new Date(),
                dateNow: '',
                status: false,
                items: [
                    { task: 'Eat breakfast', status: false },
                    { task: 'Brush teeth', status: false },
                    { task: 'Wash face', status: false },
                    { task: 'Get dressed', status: false },
                    { task: 'Do workbooks', status: false },
                ],
            },
            computed: {
                allStatusTrue() {
                    return this.items.every(item => item.status === true);
                },
                almostStatusTrue() {
                    const falseCount = this.items.filter(item => item.status === false).length;
                    return falseCount <= 2 && !this.allStatusTrue;
                }
            },
            methods: {
                clickedButton: function(index) {
                    this.items[index].status = !this.items[index].status;
                },
                formatDate: function(date) {
                    const year = date.getFullYear();
                    const month = date.getMonth() + 1;
                    const day = date.getDate();
                    const dayOfTheWeek = date.getDay();
                    const dayOfTheWeekEng = ["Sun", "Mon", "Tus", "Wed", "Thr", "Fri", "Sat"][dayOfTheWeek];
                    return `${dayOfTheWeekEng}, ${month}/${day}/${year}`;
                }
            },
            mounted() {
                this.dateNow = this.formatDate(this.today);

            }
        })
    </script>
</body>
</html>
