<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing Game</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.11/dist/vue.js"></script>
</head>
<body>
    <div id="app" class="container">
        <div class="title">Morning Routine</div>
        <div class="items">
            <ul class="list__number">
                <li class="list__items mb-30" v-for="(item, index) in items" :key="index">
                    {{ item.task }}
                    <button class="button ms-50" type="button" v-on:click="clickedButton(index)">{{ item.status ? 'Done!' : 'Not yet' }}</button>
                </li>
            </ul>
        </div>
        <div class="all__done" v-if="allStatusTrue">
            Good job!
        </div>

    </div>

    <script>
        new Vue({
            el:"#app",
            data: {
                status: false,
                items: [
                    { task: 'Eat breakfast', status: false },
                    { task: 'Brush teeth', status: false },
                    { task: 'Wash face', status: false },
                    { task: 'Get dressed', status: false },
                    { task: 'Do workbooks', status: false },
                ]
            },
            computed: {
                allStatusTrue() {
                    return this.items.every(item => item.status === true);
                }
            },
            methods: {
                clickedButton: function(index) {
                    this.items[index].status = !this.items[index].status;
                }
            },
        })
    </script>
</body>
</html>