* {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

body {
    font-size: 32px;
}

.mb-30 {
    margin-bottom: 30px;
}

.ms-50 {
    margin-left: 50px;
}

.container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-size: 50px;
}

.list__items {
    display: flex;
    align-items: center;
    position: relative;
}

.list__items .button {
    margin-left: auto;
}

.all__done {
    color: #EE82EE;
    font-size: 50px;
}

.button {
    border: 1px solid gray;
    border-radius: 10px;
    width: 25%;
}

.clicked {
    background-color: #EE82EE;
    color: #ffff;
    border: 1px solid gray;
    border-radius: 10px;
    width: 25%;
}

.underline {
    position: absolute;
    width: 70%;
    height: 20%;
    background-color: lightgreen;
    bottom: 10%;
    z-index: -1;
}
